/* Estilos para el layout */
.ant-layout {
    background-color: #f0f2f5;
  }
  
  /* Estilos para las pestañas */
  .ant-tabs {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para la sección de vista previa */
  .vista-previa {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 120px); /* Ajusta la altura según sea necesario */
    overflow: auto;
  }


  /* Estilos para el SplitPane */
.Resizer {
  background: #ddd;
  opacity: 0.8;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.Resizer:hover {
  background: #bbb;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  cursor: row-resize;
  width: 100%;
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  cursor: col-resize;
}